<a href="https://colab.research.google.com/github/OkeyNich/OkeyNich/blob/main/StageB_Okey_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This project is base on a dataset provided by an energy company.

In [1]:
#import all the important libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**At this stage I will import the data to be used for the model.*

In [2]:
#import Dataset from the computer using google colab
from google.colab import files
import io
data = files.upload()

Saving energydata_complete.csv to energydata_complete.csv

In [3]:
df = pd.read_csv(io.StringIO(data['energydata_complete.csv'].decode('utf-8')))

In [4]:
#Settings to display all rows and columns.
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

At this juncture we check the dataset headings using dataframe

In [5]:
#check the dataset
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
#Checking number of columns and rows in the dataset
df.shape

(19735, 29)

In [7]:
# Checking the type of data in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

Even though I saw non-null above I have to double check to make sure there is none null value.

In [8]:
#Checking for Null-values
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

This zeros above shows that there is no empty data(null-value) in the *dataset*

In [9]:
#Removing Columns Light and Date
df_okey = df.drop(columns=['lights','date'])

In [10]:
# Check to see that "Light" and "Date" columns are removed.
df_okey.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [11]:
#Normalization using MinMaxScaler, This will do a simple calculation of minusing the lowest value from the highest value.
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_okey_normalised = pd.DataFrame(scaler.fit_transform(df_okey), columns=df_okey.columns)

In [12]:
# Now check the Normalised dataset to see how it looks like.
df_okey_normalised.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,0.381070,0.841827,0.170594,0.653428,0.173329,0.661412,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,0.375443,0.839872,0.170594,0.651064,0.173329,0.660155,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,0.367487,0.830704,0.170594,0.646572,0.173329,0.655586,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,0.363800,0.833401,0.164310,0.641489,0.164175,0.650788,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,0.361859,0.848264,0.170594,0.639362,0.164175,0.650788,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

***Now our dataset is normerlised we can proceed to the next code.***Which is seperating the Target variable('Appliances') from Predicted variables.

In [13]:
# Separating the variables("preditor" and "Target")
df_features = df_okey_normalised.drop(columns=['Appliances'])
appliances_target = df_okey_normalised['Appliances']

In [14]:
# Check the df_features
df_features.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,0.381070,0.841827,0.170594,0.653428,0.173329,0.661412,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,0.375443,0.839872,0.170594,0.651064,0.173329,0.660155,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,0.367487,0.830704,0.170594,0.646572,0.173329,0.655586,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,0.363800,0.833401,0.164310,0.641489,0.164175,0.650788,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,0.361859,0.848264,0.170594,0.639362,0.164175,0.650788,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [15]:
# Check the target which is 'Appliances'
appliances_target.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

## **Build the Model**
Preparing a machine learning model(Linear Regression) that will trian the dataset for Reproductivity.

In [16]:
# Using a 70-30 train-test set split with a random state of 42 (for reproducibility).
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_features, appliances_target, test_size=0.3, random_state=42)

In [ ]:
x_train.shape

(13814, 26)

In [17]:
x_test.shape

(5921, 26)

In [18]:
y_train.shape

(13814,)

In [19]:
y_test.shape

(5921,)

In [20]:
# Import Linear Regression Model
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()

In [21]:
# Fitting the model to the training data
lr_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
# At this juncture I obtain predictions
predicted_values = lr_model.predict(x_test)

# Matrics is imported for proper evaluation

In [23]:
# Import Metrics for evaluation
from sklearn import metrics

In [24]:

# Publish the Metrics for Evaluation
print('Mean Absolute Error (MAE)', metrics.mean_absolute_error(y_test,predicted_values))
print('Mean Square Error (MSE)', metrics.mean_squared_error(y_test,predicted_values))
print('Root Mean Square Error (RMSE)', np.sqrt(metrics.mean_squared_error(y_test,predicted_values)))
print('R2 score', metrics.r2_score(y_test,predicted_values))

Mean Absolute Error (MAE) 0.05013362397742955
Mean Square Error (MSE) 0.007658778867195367
Root Mean Square Error (RMSE) 0.0875144494766171
R2 score 0.14890246319303535

Run a multiple linear regression using the train set and evaluate your model on the test set above.

# ***Ridge Regression***

In [27]:
#Using Ridge Regression with Alpha = 0.5
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)
pred2 = ridge_reg.predict(x_test)           # test data is predicted with this model
print('Root Mean Square Error (RMSE)', np.sqrt(metrics.mean_squared_error(y_test,pred2))) #Root Mean Square Error (RMSE)
print('R2 score', metrics.r2_score(y_test,pred2)) #R2

Root Mean Square Error (RMSE) 0.08754118590838057
R2 score 0.14838234823312713

In [26]:

#Using Ridge Regression with Alpha = 2
ridge_reg_2 = Ridge(alpha=2)
ridge_reg_2.fit(x_train, y_train)
pred3 = ridge_reg_2.predict(x_test)           # test data is predicted with this model
print('Root Mean Square Error (RMSE)', np.sqrt(metrics.mean_squared_error(y_test,pred3))) #Root Mean Square Error (RMSE)
print('R2 score', metrics.r2_score(y_test,pred3)) #R2 Score

Root Mean Square Error (RMSE) 0.08768227713791656
R2 score 0.1456350103115268

In [30]:
#Using Ridge Regression with Alpha = 4
ridge_reg_4 = Ridge(alpha=4)
ridge_reg_4.fit(x_train, y_train)
pred4 = ridge_reg_4.predict(x_test)          # test data is predicted with this model
print('Root Mean Square Error (RMSE)', np.sqrt(metrics.mean_squared_error(y_test,pred4))) #Root Mean Square Error (RMSE)
print('R2 score', metrics.r2_score(y_test,pred4)) #R2 Score

Root Mean Square Error (RMSE) 0.08786366479468531
R2 score 0.14209651741414875

In [31]:
#Using Lasso Regression with Alpha = 0.001
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
pred5 = lasso_reg.predict(x_test)# Use this model to predict the test data
print('Root Mean Square Error (RMSE)', np.sqrt(metrics.mean_squared_error(y_test,pred5))) #RMSE
print('R2 score', metrics.r2_score(y_test,pred5)) #R2 Score

Root Mean Square Error (RMSE) 0.09358170467245137
R2 score 0.026800880567125818

In [32]:
#Using Lasso Regression with Alpha = 0.1
lasso_reg_1 = Lasso(alpha=0.1)
lasso_reg_1.fit(x_train, y_train)
pred6 = lasso_reg_1.predict(x_test)# Use this model to predict the test data
print('Root Mean Square Error (RMSE)', np.sqrt(metrics.mean_squared_error(y_test,pred6))) #RMSE
print('R2 score', metrics.r2_score(y_test,pred6)) #R2 Score

Root Mean Square Error (RMSE) 0.09486157889204758
R2 score -1.1536689688007584e-06

## **THE END**